body {
    background-color: #333;
    color: #fff;
    height: 100vh;
  }
  .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);  
  }
 .container{
    width: auto;
    border-radius: 8px;
    margin-top: 60px;
 }
 
  textarea.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);  
  }
  img{
    
    width: auto;
    max-width: 80%;

  }
  